<%- include ("../partials/header.ejs") %>
 
<form id="myForm" action="/event/add" method="post">
    <fieldset id="information" name="">
        <div class="horizontal">
            <label for="e_name" required class="requis"> Nom:</label>
            <input type="text" name="e_name" id="input">
        </div>
 
        <div class="horizontal">
            <label for="e_start_date" required class="requis"> Date Debut:</label>
            <input type="date" name="e_start_date" id="Date_Debut">
        </div>
 
        <div class="horizontal">
            <label for="e_end_date" required class="requis"> Date Fin:</label>
            <input type="date" name="e_start_end" id="Date_Fin">
        </div>
 
        <div class="horizontal">
            <label for="e_desc"> description:</label>
            <input style="height: 150px;" type="text" name="e_desc" id="input">
        </div>
 
        <div class="horizontal">
            <label for="e_location" required class="requis"> emplacement:</label>
            <input style="height: 150px;" type="place" name="e_location" id="input">
        </div>
 
        <button type="submit" id="confirmButton">Sauvegarder</button>
    </fieldset>
</form>
 
<%- include ("../partials/footer.ejs") %>